<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>runDestinationsByUUID</key>
	<dict>
		<key>0DF10127-3B38-4FC3-8D88-0C1BC66B48AB</key>
		<dict>
			<key>targetArchitecture</key>
			<string>armv7f</string>
			<key>targetDevice</key>
			<dict>
				<key>modelCode</key>
				<string>iPhone4,1</string>
				<key>platformIdentifier</key>
				<string>com.apple.platform.iphoneos</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
